{% include "header.html" %}
<div class="container-fluid">
    {% if errorMessage %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
        {{ errorMessage }}
         <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <i class="fa fa-list"></i>File Upload</h3>
        </div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="swarData" />
                <br>
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit">확인</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <i class="fa fa-list"></i>사용법</h3>
        </div>
        <div class="panel-body">
            <a href="https://drive.google.com/file/d/0B3AHhaOaO_z7bjg2c1UzSDdRTmc/view">Google Drive</a> 에서 윈도우용 SWProxy를 다운받을 수 있습니다.<br>
            SWProxy 사용법은 <a href="https://www.youtube.com/watch?v=w7pZ55QlvdE">YouTube 동영상</a>을 참고하세요. (영어 주의)<br>
            SWPenguin은 SWProxy에서 추출된 [UserID].json, [UserID]-swarfarm.json을 지원하며, [UserID]-optimizer.json은 지원하지 않습니다.
        </div>
    </div>
</div>
{% include "footer.html" %}
