{% include "header.html" %}
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="/file_upload" data-toggle="tooltip" title="" class="btn btn-primary">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% if data.successMessage %}
        <div class="alert alert-success">
            <i class="fa fa-exclamation-circle"></i>
            {{ data.successMessage }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-list"></i>Rune List</h3>
            <div class="well">
                <div class="row">
                    <form method="get">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="input-set" class="control-label">세트</label>
                                <div class="btn-group" data-toggle="buttons">
                                    {% for set in data.filter.set %}
                                        {% if set.active %}
                                            <label class="btn btn-checkbox active">
                                                <input type="checkbox" name="filter_set[{{ set.name }}]" checked autocomplete="off">{{ set.name -}}
                                            </label>
                                        {% else %}
                                            <label class="btn btn-checkbox">
                                                <input type="checkbox" name="filter_set[{{ set.name }}]" autocomplete="off">{{ set.name -}}
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="input-slot" class="control-label">슬롯</label>
                                <div class="btn-group" data-toggle="buttons">
                                    {% for slot in data.filter.slot %}
                                        {% if slot.active %}
                                            <label class="btn btn-checkbox active">
                                                <input type="checkbox" name="filter_slot[s{{ slot.name }}]" checked autocomplete="off">{{ slot.name -}}
                                            </label>
                                        {% else %}
                                            <label class="btn btn-checkbox">
                                                <input type="checkbox" name="filter_slot[s{{ slot.name }}]" autocomplete="off">{{ slot.name -}}
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="input-eff" class="control-label">슬롯</label>
                                <div class="btn-group" data-toggle="buttons">
                                    {% for eff in data.filter.eff %}
                                        {% if eff.active %}
                                            <label class="btn btn-checkbox active">
                                                <input type="checkbox" name="filter_eff[{{ eff.name }}]" checked autocomplete="off">{{ eff.name -}}
                                            </label>
                                        {% else %}
                                            <label class="btn btn-checkbox">
                                                <input type="checkbox" name="filter_eff[{{ eff.name }}]" autocomplete="off">{{ eff.name -}}
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="input-sort" class="control-label">정렬</label>
                                <select class="form-control" name="filter_sort" id="input-sort">
                                    <option value="1" {% if data.filter.sort == 1 %} selected{% endif %}>가치</option>
                                    <option value="2" {% if data.filter.sort == 2 %} selected{% endif %}>최대 가치</option>
                                    <option value="3" {% if data.filter.sort == 3 %} selected{% endif %}>기댓값</option>
                                </select>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default">
                                    <a href="/">초기화</a>
                                </button>
                                <button class="btn btn-primary" type="submit">검색</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td style="width=5px;" class="text-center">&nbsp;</td>
                            <td style="" class="text-center">
                                세트
                            </td>
                            <td style="" class="text-center">
                                등급
                            </td>
                            <td style="" class="text-center">
                                슬롯
                            </td>
                            <td style="" class="text-center">
                                강화
                            </td>
                            <td class="text-center">
                                주옵션
                            </td>
                            <td style="" class="text-center">
                                접두옵션
                            </td>
                            <td style="" class="text-center">
                                부옵션1
                            </td>
                            <td style="" class="text-center">
                                부옵션2
                            </td>
                            <td style="" class="text-center">
                                부옵션3
                            </td>
                            <td style="" class="text-center">
                                부옵션4
                            </td>
                            <td style="" class="text-center">
                                가치
                            </td>
                            <td style="" class="text-center">
                                최대 가치
                            </td>
                            <td style="" class="text-center">
                                기댓값
                            </td>
                            <td style="width=5px;" class="text-center">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in data.runes %}
                            <tr>
                                {% if x.grade == 0 %}
                                    <td class="">&nbsp;</td>
                                {% elif x.grade == 1 %}
                                    <td class="success">&nbsp;</td>
                                {% elif x.grade == 2 %}
                                    <td class="info">&nbsp;</td>
                                {% elif x.grade == 3 %}
                                    <td class="danger">&nbsp;</td>
                                {% elif x.grade == 4 %}
                                    <td class="warning">&nbsp;</td>
                                {% endif %}
                                <td class="text-center">{{ x.set_id }}</td>
                                <td class="text-center">{{ x.class }}</td>
                                <td class="text-center">{{ x.slot_no }}</td>
                                <td class="text-center">{{ x.upgrade_curr }}</td>
                                <td class="text-center">{{ x.pri_eff }}</td>
                                <td class="text-center">{{ x.prefix_eff }}</td>
                                <td class="text-center">{{ x.sec_eff[0] }}</td>
                                <td class="text-center">{{ x.sec_eff[1] }}</td>
                                <td class="text-center">{{ x.sec_eff[2] }}</td>
                                <td class="text-center">{{ x.sec_eff[3] }}</td>
                                <td class="text-center">{{ x.value }}%</td>
                                <td class="text-center">{{ x.max_value }}%</td>
                                <td class="text-center">{{ x.expected_value }}%</td>
                                {% if x.grade == 0 %}
                                    <td class="">&nbsp;</td>
                                {% elif x.grade == 1 %}
                                    <td class="success">&nbsp;</td>
                                {% elif x.grade == 2 %}
                                    <td class="info">&nbsp;</td>
                                {% elif x.grade == 3 %}
                                    <td class="danger">&nbsp;</td>
                                {% elif x.grade == 4 %}
                                    <td class="warning">&nbsp;</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
